{{ form }}
<div class="buttons">
    <div class="pull-right">
        <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" onclick="getElementById('IntellectMoneyPaymentForm').submit();" />
    </div>
</div>